DATABASE_URL=postgresql://siih_user:siih_pass@localhost:5432/siih
POSTGRES_USER=siih_user
POSTGRES_PASSWORD=siih_pass
POSTGRES_DB=siih
SECRET_KEY=cambia-esto-en-produccion
JWT_SECRET_KEY=cambia-esto-tambien
JWT_ACCESS_TOKEN_EXPIRES=28800
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=20971520
FLASK_ENV=development
MAX_LOGIN_ATTEMPTS=3
LOCKOUT_MINUTES=15
